body{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    background-color: bisque;
    padding: 0;
    margin: 0;
    grid-row-gap: 10px;
}

nav{
    font-size: 1.8em;
}

h1{
    margin: 0;
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
    justify-self: right;
    font-weight: bold;
}

section{
    display: grid;
    grid-column: 100%;
    justify-items: center;
    grid-row-gap: 10px;
    width: 80%;
    font-size: 1.5em;
}

div.element{
    padding: 10px;
    background-color: rgba(210, 210, 210, 0.5);
    width: auto;
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 150px auto;
    justify-items: left;
    grid-column-gap: 5px;
}

div.min{
    grid-column: 1/3;
    width: 100px;
    height: 100px;
    place-self: center;
}

div.min{
    max-width: 300px;
    max-height: 300px;
    height: auto;
}